.hero-section .container {
  grid-template-columns: 1fr 1fr;
}

.hero-title {
  margin-bottom: var(--spacing-6);

  .brand-text {
    color: var(--warning-color);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      height: 3px;
      background: var(--warning-color);
      border-radius: var(--border-radius-full);
      opacity: 0.3;
    }
  }
}

.hero-subtitle {
  margin-bottom: var(--spacing-8);
  opacity: 0.9;
  max-width: 500px;
}

.hero-actions {
  display: flex;
  gap: var(--spacing-4);
  flex-wrap: wrap;
}

.section-title {
  margin-bottom: var(--spacing-8);
  color: var(--text-color);
  text-align: center;
}

.empty-state {
  height: calc(100dvh - 20rem);
}

.loading-container {
  height: calc(100dvh - 20rem);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--spacing-6);
  margin-top: var(--spacing-8);
}

.product-card {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 100%;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }
}

.product-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  background: white;

  img {
    padding: var(--spacing-4);
    object-fit: contain;
  }
}

.product-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.product-title {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-category {
  font-size: var(--font-size-sm);
  color: var(--primary-500);
  text-transform: capitalize;
  margin: 0;
  font-weight: 500;
}

.product-description {
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

// TODO Verificar melhoria
@media (max-width: 768px) {
  .hero-section .container {
    grid-template-columns: 1fr;
  }

  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: var(--spacing-4);
  }
}

.product-rating {
  justify-content: flex-end;
}
