.section-sapce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-layout {
  max-width: 470px;
}

.form-container {
  max-width: 460px;
  width: 100%;
}

.form-actions {
  margin-top: var(--spacing-6);
  display: flex;
  gap: 16px;
}
