.wrapper-filter {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
}

.text-search {
  width: 371px;
}

@media (max-width: 768px) {
  .wrapper-filter {
    flex-direction: column;
    align-items: stretch;
  }

  .text-search {
    width: 100%;
  }
}
