.email-sent-container {
  text-align: center;
  padding: 2rem 0;

  .success-icon {
    font-size: 4rem;
    color: var(--green-500);
    margin-bottom: 1.5rem;

    i {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .email-sent-container {
    padding: 1rem 0;

    .success-icon {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }
}
